<style>
    .quebraTexto {
        word-wrap: break-word;
        word-break: break-word;
    }

    .tamanho-12 {
        font-size: 12px;
    }

    /*ARVORE*/
    .root-title-frame {
        background: black;
        top: 2px;
        left: 3px;
        width: 445px;
        height: 25px;
    }

    .root-title-item {
        text-align: center;
        top: 8px;
        width: 445px;
        height: 18px;
        font-weight: bold;
    }

    .root-photo-frame {
        top: 26px;
        left: 2px;
        width: 50px;
        height: 60px;
    }

    .root-photo {
        height: 60px;
        width: 50px;
    }

    .root-info-nome {
        top: 35px;
        left: 8px;
        text-align: center;
        height: 36px;
        width: 445px;
        font-size: 12px;
        font-weight: bold;
    }

    /* ============== NODE ======================*/
    .node-title-frame {
        top: 2px;
        left: 2px;
        width: 175px;
        height: 20px;
    }

    .node-title-item {
        text-align: center;
        top: 5px;
        width: 180px;
        height: 18px;
        font-weight: bold;
    }

    .node-photo-frame {
        top: 26px;
        left: 2px;
        width: 50px;
        height: 60px;
    }

    .node-photo {
        height: 60px;
        width: 50px;
    }

    .node-info-name {
        top: 35px;
        left: 58px;
        /*height: 36px;*/
        font-size: 12px;
    }

    /*ENCAMINHAMENTOS*/

    .encaminhamentos-table {
        padding: 5px;
        background: white;
        height: 420px;
        max-height: 420px;
        overflow: auto;
        overflow-y: scroll;
    }

    .encaminhamentos-painel {
        padding: 5px;
        margin-bottom: 2px;
        position: relative;
    }

    .encaminhamentos-painel:hover {
        background-color: white;
    }

    .encaminhamentos-painel a span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .listagem-encaminhamentos {
        padding-left: 0px;
        padding-right: 0px;
    }

    .painel-leitura-encaminhamentos {
        background: white;
        padding: 0px;
    }

    .painel-leitura {
        padding: 0px;
        background: white;
        height: 420px;
        max-height: 420px;
        overflow: auto;
    }

    #arvore-encaminhamentos {
        background: white;
        overflow: hidden;
        height: 430px;
        padding: 0px;
        border: 0px;
    }

    .filder-arvore-encaminhamentos {
        /*!*padding-top: 0px;*!verificar titulo*/
        padding-bottom: 0px
    }

    .filder-encaminhamentos {
        /*!*padding-top: 0px;*!verificar titulo*/
        background: white;
        padding-bottom: 0px
    }

    .well-selected {
        background: #D1D1D1 !important;
    }
</style>

<div class="container" ui-view>

    <div class="row">
        <div class="span12">
            <p class="text-capitalize"><strong class="title"> Tratar Demanda </strong></p>
        </div>
    </div>

    <div class="span12 box conteudo-box">

        <fieldset class="filder">
            <legend><strong>Informações da Demanda</strong></legend>

            <div class="row">
                <div class="span4">
                    <div class="control-group">
                        <label><strong>Prazo Resposta: </strong><span class="tamanho-12"> {{dataEncaminhamento | date:"dd/MM/yyyy"}}</span></label>
                    </div>
                </div>
                <div class="span4">
                    <label><strong>Pioridade: </strong><span class="tamanho-12"> Alta</span></label>
                </div>
                <div class="span4">
                    <label><strong>Classificação: </strong><span class="tamanho-12"> Informação</span></label>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <label> <strong>Tipificacao: </strong><span class="tamanho-12">ZIKA > ZIKA VIRUS > Aedes (Stegomyia) aegypt > Doença</span></label>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <a ng-click="validar()">Validar</a>
                </div>
            </div>
        </fieldset>

        <fieldset class="filder filder-arvore-encaminhamentos">
            <legend>Árvore de Encaminhamentos</legend>
            <div id="arvore-encaminhamentos"
                 bp-org-diagram
                 data-options="tree"
                 data-node-selected="nodeSelected">
            </div>
        </fieldset>

        <fieldset class="filder filder-encaminhamentos">
            <legend><strong>Encaminhamentos</strong></legend>
            <div painel-encaminhamentos-demanda></div>
        </fieldset>
    </div>
</div>



