<style>
    .quebraTexto {
        word-wrap: break-word;
        word-break: break-word;
    }

    .tamanho-12 {
        font-size: 12px;
    }

    /*ARVORE*/
    .root-title-frame {
        background: black;
        top: 2px;
        left: 3px;
        width: 445px;
        height: 25px;
    }

    .root-title-item {
        text-align: center;
        top: 8px;
        width: 445px;
        height: 18px;
        font-weight: bold;
    }

    .root-photo-frame {
        top: 26px;
        left: 2px;
        width: 50px;
        height: 60px;
    }

    .root-photo {
        height: 60px;
        width: 50px;
    }

    .root-info-nome {
        top: 35px;
        left: 8px;
        text-align: center;
        height: 36px;
        width: 445px;
        font-size: 12px;
        font-weight: bold;
    }

    /* ============== NODE ======================*/
    .node-title-frame {
        top: 2px;
        left: 2px;
        width: 175px;
        height: 20px;
    }

    .node-title-item {
        text-align: center;
        top: 5px;
        width: 180px;
        height: 18px;
        font-weight: bold;
    }

    .node-photo-frame {
        top: 26px;
        left: 2px;
        width: 50px;
        height: 60px;
    }

    .node-photo {
        height: 60px;
        width: 50px;
    }

    .node-info-name {
        top: 35px;
        left: 58px;
        /*height: 36px;*/
        font-size: 12px;
    }

    #sidebar-wrapper {
        height: 100%;
        padding: 50px 0 0px 0;
        position: fixed;
        border-right: 1px solid gray;
    }

    #sidebar {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    #sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

</style>

<div class="container" ui-view ng-hide="mostrarModal">

    <div class="row">
        <div class="span12">
            <p class="text-capitalize"><strong class="title"> Tratar Demanda </strong></p>
        </div>
    </div>

    <div class="span12 box conteudo-box">

        <div id="arvore-encaminhamentos" class="span12"
             style="background: white; overflow: hidden; padding: 0px; margin: 1px; border: 0px;">
            <div bp-org-diagram
                 data-options="tree"
                 data-node-selected="nodeSelected"
                 style="height: 430px;">
            </div>
        </div>

        <div class="span12">
            <hr class="gray-hr">
        </div>

        <div id="painel-encaminhamentos">
            <!--<div class="" style="overflow: hidden; padding: 0px; margin: 1px; border: 0px;">-->
            <div class="span5">
                <table class="table ms-grid">
                    <thead>
                    <tr>
                        <th colspan="1">
                            Encaminhamentos
                        </th>
                        <th>Anexos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="e in encaminhamentos ">
                        <!--| filter: {id: nodeSelected.id}-->
                        <td>
                            <p class="pull-left">{{dataEncaminhamento | date:'dd/MM/yyyy'}}</p>
                            <div class="pull-left">
                                <a>
                                    <p>{{e.statusEncaminhamentoDemanda.descricao}} por: {{e.usuarioResponsavel}}
                                </a>
                            </div>

                        </td>
                        <td>
                            <div>
                                0
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="span7" style="background: white">
                <fieldset class="filder">
                    <legend class="lengendOuvidor">
                        <div class="checkbox inline">
                            <label class="hand">
                                <input type="checkbox"
                                       ng-change="alterarSolicitacaoResposta(nodeSelecionado.node);"
                                       ng-model="respostaSolicitada"
                                       ng-checked="nodeSelected.encaminhamento.solicitaResposta == 'S'"/>
                                {{solicitar-resposta}}
                            </label>
                        </div>
                    </legend>


                    <div class="span12">
                        <hr class="gray-hr">
                    </div>
                    <div class="row span12">
                        <div>
                            <label><strong>{{nodeSelected.encaminhamento.redeDestino.nome}}</strong></label>
                        </div>
                        <div class="row">
                            <label>Responsável: {{nodeSelected.encaminhamento.usuarioResponsavel}}</label>
                        </div>
                    </div>
                    <div class="span12">
                        <hr class="gray-hr">
                    </div>
                    <div class="span12 quebraTexto">
                        <label>{{nodeSelected.encaminhamento.comentarioParecer}}</label>
                    </div>
                    <div class="span12">
                        <hr class="gray-hr">
                    </div>
                    <div class="span12">
                        <div class="row">
                            <label>{{nodeSelecionado.node.arquivos.length + ' ' + 'anexos'}}</label>
                        </div>
                        <div class="row">
                            <table class="table table-hover">
                                <tbody>
                                <tr ng-if="!nodeSelecionado.node.arquivos ||nodeSelecionado.node.arquivos.length <= 0">
                                    <td colspan="2"><label> Nenhum arquivo encontrado</label></td>
                                </tr>
                                <tr ng-repeat="arquivo in nodeSelecionado.node.arquivos">
                                    <td>
                                        <a ng-if="arquivo.id"
                                           tooltip="{{MH205}}"
                                           ng-href="{{getUrlDownload(arquivo.id)}}">
                                            <label>{{arquivo.nomeArquivoComExtensao}}</label>
                                        </a>

                                        <a ng-if="!arquivo.id"
                                           ng-click="downloadArquivo(arquivo)"
                                           tooltip="{{MH205}}">
                                            <label>{{arquivo.nomeArquivoComExtensao}}</label>
                                        </a>
                                    </td>
                                    <td ng-if="!nodeSelecionado.bloquearCampos">
                                        <button type="button"
                                                class="close"
                                                ng-click="removerArquivo(arquivo)"
                                                aria-hidden="true"
                                                aria-label="Fechar">&times;
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

            </div>
            <!--<pre>{{encaminhamentos[0] | json}}</pre>-->
        </div>
    </div>
</div>



