<style>
	.modal-previa-email {
		margin-top: -2%;
		width: 60%;
		margin-left: -30%;
	}
</style>

<div class="modal-content" ng-init="init();">
	<div class="modal-header">
    <a class="close" ng-click="fechar();"
       style="float: right; margin-top: 2%;"
       tooltip="{{'MH020'  | translate }}">
       &times;
     </a>
    <a ng-click="editar();"
       style="font-size: 12pt; padding-right: 5px; color: #444444; float: right; margin-top: 2%;">
      <icon class="ms-icone-lapis"></icon>
    </a>
    <h4 class="modal-title">{{'label-titulo-previa-email' | translate}}</h4>
	</div>

	<div class="modal-body">

		<div class="row">
			<div class="span12">
				<div ng-bind-html="respostas">

				</div>
			</div>
		</div>

		<div style="maging-bottom: 1%; maging-top: 1%;">
			<div class="row">
				<div class="span12">
					<label class="negrito" style="margin-top: 1%">{{'label-anexos' | translate}}</label>
				</div>
				<div class="span12">
					<div ng-repeat="arquivo in arquivos">
						<div style="border-bottom: 1px solid #ccc !Important; padding-bottom: 1%; padding-top: 1%; margin-bottom: 1% !important;">
							<div class="span8">
								<a tooltip="{{'MH026' | translate}}" ng-href="{{getUrlDownload(arquivo.id)}}"><label>{{arquivo.nomeArquivo}}</label></a>
							</div>
							<div class="span4">
								<button type="button" tooltip="{{'MH003' | translate}}" class="pull-right close" ng-click="removerArquivo(arquivo)">
									&times;
								</button>
							</div>
							</br>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



</div>

<div class="modal-footer">
	<div class="span12" style="float: right" >
			<div class="btn-form-right">
        <span>
				  <a class="btn"
             ng-click="fechar();"
             tooltip="{{'MH057' | translate}}">
             {{'MH057' | translate}}
           </a>
         </span>
         <span>
          <a class="btn btn-primary"
             ng-click="enviar();"
             tooltip="{{'MH067' | translate}}">
             {{'MH067' | translate}}
           </a>
        </span>
      </div>

		</div>
	</div>
</div>
