<style>
    .tamanho-tela {
        min-width: 49%;
        margin-left: -26%;
        margin-top: 3%;
    }

</style>

<div class="modal-content" style="height:100%;">

    <div class="modal-header">

        <button type="button"
                class="close"
                ng-click="fechar()"
                data-dismiss="modal"
                tooltip="{{'MH020'| translate}}"
                aria-hidden="true"
                aria-label="Fechar">
            &nbsp;&times;&nbsp;
        </button>

        <h4 class="modal-title">{{'tituto-tipo-encaminahmento' | translate}}</h4>
        <label class="sub-titulo">{{'sub-tituto-tipo-encaminahmento' | translate}}</label>

    </div>

    <div class="modal-body">

      

    </div>

  	<div class="modal-footer">
    </div>
</div>
