<style>
    .tamanho-tela {
        min-width: 70%;
        margin-left: -33%;
        margin-top: 3%;
    }
</style>

<div class="modal-content" style="height:100%;">

    <div class="modal-header">

        <button type="button"
                class="close"
                ng-click="fechar()"
                data-dismiss="modal"
                tooltip="{{'MH020'| translate}}"
                aria-hidden="true"
                aria-label="Fechar">
            &nbsp;&times;&nbsp;
        </button>
        
        <h4 class="modal-title">{{'reaproveitar-anexo' | translate}}</h4>
        
    </div>

    <div class="modal-body">
        
        <div class="span12">
                
            <div class="row">
                
                <table class="table ms-grid">
                    <thead>
                        <th class="text-center">
                            <input type="checkbox" 
                                   ng-change="selecionarTodos()" 
                                   ng-model="todos.selected"/>
                        </th>
                        <th class="text-center">{{'tipo-arquivo' | translate}}</th>
                        <th class="text-center">{{'nome-arquivo' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr ng-if="!arquivos || arquivos.length <= 0">
                            <td colspan="3">Nenhum arquivo encontrado</td>
                        </tr>
                        <tr ng-repeat="arquivo in arquivos" ng-if="arquivos.length > 0">
                            <td>
                                <input type="checkbox"
                                       ng-model="arquivo.selected"
                                       ng-change="todos.selected=false" />
                            </td>
                            <td>
                                <label>
                                    {{arquivo.extensao }}
                                </label>
                                </td>
                           <td>
                               
                             <a tooltip="{{'MH205' | translate}}"
                                ng-href="{{getUrlDownload(arquivo.id)}}">
                                <label>{{arquivo.nomeArquivoComExtensao}}</label>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    
  	<div class="modal-footer">
		<div class="row">
      		 <!-- Inicio botoes -->
                <div class="span12">
                    <div class="row">
                        <div class="span12 margin-top">
                            <div class="btn-form-right">
                                <span>
                                    <button class="btn" 
                                            type="button" 
                                            tooltip="{{'MH057' | translate}}" 
                                            ng-click="fechar()">
                                        {{'MH057' | translate}}
                                    </button>
                                </span>
                                <span>
                                    <a href="" class="btn btn-primary"
                                        tooltip="{{'MH059' | translate}}" 
                                        ng-click="confirmar()">
                                            {{'MH059' | translate}}
                                    </a>
                                </span> 
                            </div>
                        </div>
                    </div>
                </div>
               <!-- Fim botoes -->
      </div>
    </div>
  
  
</div>
